main {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 40px 0;
  justify-content: flex-start;
  align-items: center;
}

.search {
  margin: 20px;
  width: 70%;
}

.search-bar {
  padding: 5px;
  width: 80%;
}

.btn-search {
  width: 19%;
  background-color: var(--color-primary);
  color: azure;
  outline: none;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

.btn-search:hover {
  background-color: azure;
  color: var(--color-primary);
}

.alert-success {
  width:100%;
  padding: 10px;
  background-color: #0eba81;
  color: aliceblue;
  margin-top: 20px;
}

.aux-btns {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin: 20px;
}

.aux-btns a {
  padding-right: 10px;
}
