@import './vars.css';

/* Main settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-text);
  color: var(--color-text);
}

@font-face {
  font-family: Roboto-bold;
  src: url('../fonts/Roboto-Bold.ttf');
}

@font-face {
  font-family: Roboto-regular;
  src: url('../fonts/Roboto-Regular.ttf');
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-main);
}
/* End Main settings */

/* index settings */
.cards {
  display: flex;
  justify-content: space-around;
}

.card {
  width: 150px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: aliceblue;
  text-decoration: none;
  background-color: var(--color-primary);
}

.card:hover {
  background-color: var(--color-text);
}
/* End index settings */